/* Add a gray background color and some padding to the footer */

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
nav{
   background-color: _#070239 ;

}

body {
  font-family: "Lato", sans-serif;

}

a{

color: black;
}



.alink{
color: black;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    padding: 60px 0 30px;
}

.decaler {
float:right;
}


footer{
  background-color: #E5E4EA ;
  color: #E5E4EA

   padding: 60px 0 30px;

}

.carousel-inner img {
  width: 800px;
  height: 400px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }






}
